#container {
    // padding-top: 15px;
    display: flex;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    background-repeat: no-repeat;
    background-image: url(images/lion.jpg);
    background-position: static bottom;
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    background-size: 100vh;
}


h1 {
    font-family: 'Quando', serif;
    font-size: 3rem;
    padding: 100px;
    color: #740000
}

#main-nav {
    background-color: #cecece;
    opacity: .5;
    padding: 20px;
    margin: 0 20px;
    font-size: 1rem;
    position: fixed;
    justify-content: space-around;
    a:hover {
        background-color: #ebf1fa;
        color: #333363;        
}
    a {
        text-decoration-line: none;
        color: #5e5d5d;   
    }
}

div {
    width: 90%;
    padding: 10px;
    .text {
        margin: 30px;
        padding: 0px;
        .transbox {
            margin: 30px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
        }
    }
}
img {
    width: 150px;
    margin: 60px;
    border-radius: 50%;
    filter: grayscale(100%);  
    &:hover {
        filter: none;
        transition-duration: 2s;
    }
}

footer{
    font-size: 1rem;
    justify-content: center;
    padding: 50px;
}

// PHONE
@media screen and (max-width: 420px) {
    #container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
}

// TABLET
@media screen and (min-width: 421px) and (max-width: 800px) {
    #container {
        width: 100%;
        // display: flex;
        // flex-flow: flex-wrap;
        // grid-template-columns: 15% 70% 15%; 
        // grid-template-rows: auto;
        // grid-template-areas: 
        //     "menu menu menu"
        //     " . about . "
        //     " . values . "
        //     " . text . "
        //     "footer footer footer"
    }

    #main-nav {
        display: flex;
        width: 80%;
        margin: 50px;
    }
    #values {
        
    }
    .text {
        
        padding: 200px 50px;
        // ul {
        //     padding: 70px;
        // }
    }

}


// DESKTOP
@media screen and (min-width: 801px) {
    #container {    
            font-size: 3rem;
            background-repeat: no-repeat;
            background-image: url(images/lion-wide.jpg);
            background-position: left bottom;
            background-attachment: fixed;
            background-color:e4e4e4;
            background-size: 100vw;
    }
    
        #main-nav {
            display: flex;
            width: 95%;
            margin: 50px;
        }
        h1 {
            font-size: 9rem;
        }
        .text {
            padding: 200px 50px;
                ul {
                    padding: 70px;
            }
        }
    }