#container {
        // padding-top: 15px;
        font-family: 'Maven Pro', sans-serif;
        font-size: 24px;
        background-repeat: no-repeat;
        background-image: url(images/lion.jpg);
        background-position: bottom;
        background-attachment: fixed;
        background-color: rgb(255, 255, 255);
        background-size: 100vh;
}

h1 {
    font-family: 'Quando', serif;
    font-size: 4rem;
    color: #740000;
    padding: 100px;
}

#main-nav {
        background-color: #cecece;
        opacity: .5;
        padding: 20px;
        margin: 0 20px;
        font-size: 1rem;
        position: fixed;
        justify-content: space-around;
        a:hover {
            background-color: #ebf1fa;
            color: #333363;        
    }
        a {
            text-decoration-line: none;
            color: #5e5d5d;   
        
    }
}


.text {
    h3 {
        justify-items: center;
        color: white;
        background-color: #2e2e2e;
        border-radius: 40px;
        // filter: blur(5px);
        opacity: .6;
        margin: 70px 15px;
        padding: 20px;
        
    }
}

ul {
    justify-items: center;
    color: white;
    background-color: #2e2e2e;
    border-radius: 40px;
    // filter: blur(5px);
    opacity: .6;
    margin: 150px 15px;
    padding: 20px;
    li {
        margin: 20px;
    }
}


footer{
    font-size: 1rem;
    display: grid;
    justify-content: center;
    padding: 50px;
}

// PHONE
@media screen and (max-width: 420px) {
    #container {
        // display: flex;
        // flex-wrap: wrap;
        width: 100%;
        height: auto;

    }
}

// TABLET
@media screen and (min-width: 421px) and (max-width: 800px) {
    #container {

    }

    #main-nav {
        display: flex;
        width: 80%;
        margin: 50px;
    }
    .text {
        padding: 200px 50px;
        ul {
            padding: 70px;
        }
    }

}

// DESKTOP
@media screen and (min-width: 801px) {
#container {    
        font-size: 3rem;
        background-repeat: no-repeat;
        background-image: url(images/lion-wide.jpg);
        background-position: left bottom;
        background-attachment: fixed;
        background-color:e4e4e4;
        background-size: 100vw;
}

    #main-nav {
        display: flex;
        width: 95%;
        margin: 50px;
    }
    h1 {
        font-size: 9rem;
    }
    .text {
        padding: 200px 50px;
            ul {
                padding: 70px;
        }
    }
}