// styling the contact me form
@mixin bkgdcolor {
    background-color: whitesmoke;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    p {
        @include bkgdcolor();
        opacity: .7;
        border-radius: 40px;
        padding: 15px;
        margin: 10px;
        }
        //text boxes and labels
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #616161d9;
        border-radius: 40px;
        opacity: .8;
        }
    label{
        @include bkgdcolor();
        opacity: .5;
        border-radius: 40px;
        padding: 5px;
        }
    #submit {
        width: 100px;
        border-radius: 50px;
        margin: 15px 0 75px 0;
    }
}

// PHONE
@media screen and (max-width: 420px) {
    #container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// TABLET
@media screen and (min-width: 421px) and (max-width: 800px) {
    .contact {
        font-size: 1.3rem;
        form {
        width: 80%;
        margin: 0;
        }
    }
}

// DESKTOP
@media screen and (min-width: 801px) {
    #container {  
        // width: 100%;  
        height: 100% vh;
    }
    .contact {
        margin-left: 10%;

        p { 
        font-size: 1.8rem;
        }       
        form {
            width: 60%;
            font-size: 1.6rem;
        }
    }
}