footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: baseline;
    font-size: 1rem;
    margin: 10%;
    height: 5%;
    width: 80%;
    background: white;
    #links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-between;
        color: black;
        list-style-type: none;
        padding: 10px;
    }
}