#blog-info {
    font-size: 1rem;
    color: black;
    background-color: whitesmoke;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    opacity: .7;
    #link {
        color: #740000;
        font-weight: bold;
    }
    #internal {
        display: flex;
        flex-direction: column;
        font-size: 1rem;  
    }
}

#internal {
    color: whitesmoke;
    background-color: #740000;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    opacity: .6;
    font-size: .7rem;
}
.previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 250px;
        margin: 20px;
        border-radius: 20px;
        filter: grayscale(100%);  
        &:hover {
            filter: none;
            transition-duration: 2s;
        } 
    } 
    .date {
        font-size: .8rem;
        margin: 0 15px;
        padding: 10px 0;
    }  
    h3 {
        background-color: whitesmoke;
        padding: 10px;
        // margin: 15px;
        border-radius: 20px;
        opacity: .8;
        font-family: 'Quando', serif;
        color: #740000;
        font-weight: bold;
    }  
}

#preview {
    background-color: whitesmoke;
    padding: 10px 10px 30px 10px;
    margin: 15px;
    border-radius: 20px;
    opacity: .8;
    font-size: 1.2rem;
}

// PHONE
@media screen and (max-width: 420px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 75px;
    }
}

// TABLET
@media screen and (min-width: 421px) and (max-width: 800px) {
   #blog-info {
       font-size: 1.5rem;
       width: 70%;
   }
    p {
        font-size: 1.4rem;
    }
    .previews {
        width: 80%;
        padding-bottom: 50px;
        h3 {
            font-size: 1.6;
            font-weight: bold;
        }
        img {
            width: 400px;
            justify-content: center;
        }
    }
}

// DESKTOP
@media screen and (min-width: 801px) {
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 80px;
        #blog-info {
            font-size: 1.5rem;
            width: 70%;
        } 
        p {
            font-size: 1.4rem;
        }
        .previews {
            width: 80%;
            padding-bottom: 50px;
            h3 {
                font-size: 1.6;
                font-weight: bold;
            }
            img {
                width: 400px;
                justify-content: center;
            }
        } 
    }
}