
@mixin headingclr {
    color: #740000;
}
h2 {
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    @include headingclr ;
}

//keeping with the greyscale theme, styling the skill icons
#resume {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    img {
        margin: 10px;
        padding: 10px;
        filter: grayscale(100%);  
        &:hover {
            filter: none;
            transition-duration: 2s;
        }
    }
}   
//creating a three dimensional affect for the button
#button {
    background-color: #740000;
    opacity: .7;
    border-radius: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 
        0 2px 4px #fff, /*bottom external highlight*/
        0 -2px 2px #666, /*top external shadow*/ 
        inset 0 -2px 2px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
        inset 0 2px 2px rgba(255,255,255,0.8); /*top internal highlight*/
}

// // PHONE
@media screen and (max-width: 420px) {
    .resume {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #logos {
        width: 150px;
    }
    #cv {
        padding: 50px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
      

// TABLET
@media screen and (min-width: 421px) and (max-width: 800px) {
    h2 {
        font-size: 2rem;
    }
    #logos {
        width: 200px;
        padding: 10px;
    }
    .resume {
        padding: 50px 0; 
        #resume {
            flex: 1;
            display: flex;
            flex-direction: row;
        }
        #cv {
            display: flex;
            flex-direction: column;
            margin: 50px;
            #button {
                margin: 0 200px;
            }
        }
    }
}        

// DESKTOP
@media screen and (min-width: 801px) {
    #container {
        // width: 100%;
        height: 100% vh;
        display: flex;
        flex-direction: column; 
    }
    h2 {
        margin: 70px 150px;
        font-size: 3rem;
        }
    #resume {
        flex: 1;
        display: flex;
        flex-direction: row;
        #logos {
            width: 200px;
            padding: 10px;
        }
    }
    #cv {
        display: flex;
        flex-direction: column;
        margin: 50px;
        #button {
            margin: 0 200px;
        }
    }
}